.fullpost__comment {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    color: #CC3300;
    margin: 20px;
} 
.fullpost__comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.fullpost__comment-likes {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.fullpost__comment-author {
    color: rgba(14, 136, 173, 0.85);
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 10px;
}
.fullpost__comment-body {
    text-decoration: none;
    margin-left: 10px;
    border-bottom: 1px solid grey;
}
.fullpost__comment-author:hover {
    text-decoration: underline;
}
.fullpost__comment-newcomment {
    display: flex;
    height: 50px;
    font-size: 14px;
}
